/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.container {
    max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

body {
    background-color: #FFFEF8;
    position: relative;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
    position: relative;
}

.filters {
    margin-top: 51px;
    margin-bottom: 51px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter {
    box-sizing: border-box;
    min-width: 100px;
    padding: 9px 14px 9px 14px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #1D6154;
    line-height: 19px;
    border: 1px solid #1D6154;
    border-radius: 60px;
    cursor: pointer;
}

.filter-on {
    color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
    background-color: white;
}

footer nav ul {
    height:60px;
	display: flex;
	justify-content: flex-end;
    align-items: center;
	margin: 2em 107px 0 2em;
}



/* login page */


#login {
    max-width: 380px;
	width: 50%;
    margin: 140px auto 350px auto;
    text-align: center;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

#login a {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #3D3D3D;
}

.login-error {
    margin-top: 2em;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgb(255,50,50);
    display: none;
    text-align: center;
}

/* edit index page */

.edit-header {
    display: block;
}

.edit-header-visible {
    height: 59px;
    font-family: 'Work Sans';
    font-style: normal;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-header i {
    font-size: 20px;
    color: white;
}

.edit-header p {
    margin-left: 9px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.edit-header-publish {
    margin-left: 21px;
    padding: 11px 23px 11px 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: white;
    border-radius: 60px;
}

#edit-project {
    cursor: pointer;
    margin-left: 16px;
    padding: 0 15px 0 15px;
    position:absolute;
    left: 100%;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
}

#edit-project:hover {
    background-color: rgba(0,0,0,0.1);
}

#edit-project i {

    font-size: 20px;
}

#edit-project p {
    margin-left: 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/*
edit works modal
*/

#edit-works-modal-background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

#edit-works-modal-background > div {
    position: absolute;
    left: 0px;
    top: 59px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align:items: center;
}

#edit-works-modal-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
}

#edit-works-modal-container > div {
    box-sizing: border-box;
    position: relative;
    width: 66%;
    max-width: 631px;
    z-index: 100;
    padding: 0 0 0 0;
    display: flex;
    align-items: stretch;
}

#edit-works-modal {
    box-sizing: border-box;
    position: relative;
    margin: 0 0 0 0;
    padding: 60px 105px 48px 105px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

#edit-works-modal > h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: black;
    margin: 0 0 0 0;
}

.edit-works-close {
    position: absolute;
    right: 38px;
    top: 32px;
    font-size: 20px;
    color: black;
}

#edit-works {
    margin-top: 46px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.edit-work-item {
    position: relative;
    width: 77px;
    display: flex;
    flex-direction: column;
}

.edit-work-item img {
    width: 77px;
    height: 102px;
    object-fit: cover;
}

.edit-work-trash-can {
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 4px;
    font-size: 9px;
    color: white;
    background-color: black;
}

.edit-work-trash-can:hover {
    /*background-color: rgb(50,50,50);
    border: 2px solid black;
    right: 4px;
    top: 4px;*/
    color: rgb(200,200,200);
}

.edit-work-item p {
    cursor: pointer;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 2px 2px 2px;
}

.edit-work-item p:hover {
    background-color: rgba(0,0,0,0.1);
}

.separator {
    width: 100%;
    margin-top: 46px;
    height: 10px;
    border-top: 1px solid #B3B3B3;
}

.edit-work-add-button {
    margin-top: 38px;
    padding: 10px 52px 10px 52px;
    font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
    border: none;
	border-radius: 60px ;
}

.edit-work-delete-galery {
    margin-top: 21px;
    padding: 2px 20px 2px 20px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #D65353;
    border: none;
    background: none;
}
